input[type="checkbox"]{
  margin-left: 0 !important;
}

#header{
  margin-bottom: 20px;
}
.tabs {
/**
 * Setting display to flex makes this container lay
 * out its children using flexbox, the exact same
 * as in the above "Stepper input" example.
 */
 display: flex;

 /* border-bottom: 1px solid #D7DBDD; */
}

/*
.tab {
  cursor: pointer;
  padding-left: 10px; 
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 50px;
  color: #000000;
  font-size: 12px;
  background: #DBDBDB;
}
.tab:hover {
  background: #D8D8D8;
}

.tab.is-tab-selected {
  background: #1691c6;
  color: white;
  font: "Segoe UI Semibold";
}
*/

.tab{
  position: relative;
  display: inline-block;
  padding: 2px 0px;
  font-family: 'Segoe UI';
  font-size: 12px;
  cursor: pointer;
  text-align: center;
  color: black;
  border: 1px solid #D9D9D9;
  background-color: white;
}
.tab.is-tab-selected{
  color: white;
  border: 1px solid #8B8B8B;
  background-color: #1691C6;
}


#intro-div{
  position: fixed;
  bottom: 5px;
  display: hidden;
}
#switch-to-customize{
  position: absolute;
  right: 8px;
  margin-top: 5px;
}
.pull-right{
  float: right;
}
#advanced, #graphics{
  width: 60px;
}