/* Be consistent with TextBox */
.Select-control{
  border-radius: 0px !important;
}
.Select{
  margin-top: 5px;
  margin-bottom: 5px;
}

input[type="checkbox"]{
  margin-left: 0 !important;
}

#header{
  margin-bottom: 20px;
}
.tabs {
/**
 * Setting display to flex makes this container lay
 * out its children using flexbox, the exact same
 * as in the above "Stepper input" example.
 */
 display: flex;

 /* border-bottom: 1px solid #D7DBDD; */
}

.tabs {
/**
 * Setting display to flex makes this container lay
 * out its children using flexbox, the exact same
 * as in the above "Stepper input" example.
 */
  display: flex;
  border-bottom: 2px solid #1691C6;
}

.tab {
  cursor: pointer;
  padding-left: 25px; 
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 25px;
  /* color: #16A2D7; */
  color: #000000;
  font-size: 12px;
  /* border-bottom: 2px solid transparent; */
  background: rgb(230, 230, 230);
}
.tab:hover {
  background: #D8D8D8;
}

.tab.is-tab-selected {
  /* border-bottom-color: #4EBBE4; */
  background: #1691c6;
  color: #ffffff;
  font: "Segoe UI Semibold";
  font-size: 12px;
}


#intro-div{
  position: fixed;
  bottom: 5px;
  display: hidden;
}
#switch-to-customize{
  position: absolute;
  right: 8px;
  margin-top: 5px;
}
#switch-to-home{
  position: absolute;
  bottom: 5px;
}
.pull-right{
  float: right;
}


.toggletabs {
  display: flex;
}
.toggletab{
  position: relative;
  display: inline-block;
  padding: 2px 0px;
  font-family: 'Segoe UI';
  font-size: 12px;
  cursor: pointer;
  text-align: center;
  color: black;
  border: 1px solid #D9D9D9;
  background-color: white;
}
.toggletab.is-tab-selected{
  color: white;
  border: 1px solid #8B8B8B;
  background-color: #1691C6;
}

.toggletab {
  width: 75px;
}


.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
.clearfix {
  display: inline-block;
}
.clearfix {
  display: block;
}

.togglebar {
  height: 35px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.alteryx-toggle-switch-outer {
  position: absolute !important;
  right: 4px;
}
#div-branch-dist{
  margin-bottom: 20px;
}

.accordion-toggle::before{
  background-image: url("data:image/svg+xml;base64,PHN2ZyBpZD0iMzdlNmU4OTItNDRkYS00MmIwLTk4YjYtOWQ0Yjg2YzAzOTM1IiBkYXRhLW5hbWU9IkxheWVyIDEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDYuOCAxMS42Ij48ZGVmcz48c3R5bGU+LlwzNyA1YTBiOGVjLWNhY2EtNDA5Zi04OTQyLTE4Y2ZlYjljNzM5NntmaWxsOiMzMTRjNGE7fTwvc3R5bGU+PC9kZWZzPjx0aXRsZT5hcnJvd19yaWdodF9zbWw8L3RpdGxlPjxwYXRoIGNsYXNzPSI3NWEwYjhlYy1jYWNhLTQwOWYtODk0Mi0xOGNmZWI5YzczOTYiIGQ9Ik0yLDAuMzJDMi4zOCwwLjcyLDYuNDcsNSw2LjQ3LDVhMS4xMSwxLjExLDAsMCwxLDAsMS41OFMyLjM4LDEwLjg4LDIsMTEuMjhhMS4xOCwxLjE4LDAsMCwxLTEuNjEsMCwxLjA2LDEuMDYsMCwwLDEsMC0xLjU3TDQuMDksNS44LDAuMzUsMS44OUExLjA2LDEuMDYsMCwwLDEsLjM1LjMyLDEuMTgsMS4xOCwwLDAsMSwyLC4zMloiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDAgMCkiLz48L3N2Zz4=");
  background-size: 10px 10px;
  height: 10px;
  width: 10px;
  content: "  ";
  display: inline-block;
  margin-right: 5px;
}
.accordion-toggle.accordion-open::before{
  background-image: url("data:image/svg+xml;base64,PHN2ZyBpZD0iMmE4MjA2MGUtZDcwZS00MTZhLTg0MjItMzk3NWYwOTA2NzE0IiBkYXRhLW5hbWU9IkxheWVyIDEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDExLjk5IDciPjxkZWZzPjxzdHlsZT4uZTBiNGJkNDctYzA5Ni00MDc1LTgyNDctMjNhOWE4ODBlNjQye2ZpbGw6IzMxNGM0YTt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmRvd25fYXJyb3dfc21sPC90aXRsZT48cGF0aCBjbGFzcz0iZTBiNGJkNDctYzA5Ni00MDc1LTgyNDctMjNhOWE4ODBlNjQyIiBkPSJNMTEuNjcsMmMtMC40Mi40My00Ljg2LDQuNjQtNC44Niw0LjY0QTEuMTYsMS4xNiwwLDAsMSw2LDdhMS4xOCwxLjE4LDAsMCwxLS44Mi0wLjM0UzAuNzUsMi40NS4zMywyQTEuMjIsMS4yMiwwLDAsMSwuMzMuMzYsMS4xLDEuMSwwLDAsMSwyLC4zNkw2LDQuMjJsNC0zLjg2YTEuMSwxLjEsMCwwLDEsMS42MywwQTEuMjIsMS4yMiwwLDAsMSwxMS42NywyWiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMCAwKSIvPjwvc3ZnPg==");
  background-size: 10px 10px;
  height: 10px;
  width: 10px;
  content: "  ";
  display: inline-block;
  margin-right: 5px;
}

#xvars label {
  margin-bottom: 5px;
}
.accordion-content{
  margin-left: 12.5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#div-tree\.plot, #div-prune\.plot{
  margin-left: 30px;
}
.accordion-toggle {
  background: rgb(245, 245, 245);
  margin-left: -12px;
  margin-right: -12px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 10px;
}
h4.accordion-toggle{
  -webkit-margin-before: 0;
  -webkit-margin-after: 1px;
}
#page-basic fieldset{
  border-top: 0px !important;
}
#div-use\.weights{
  margin-left: 28px;
  margin-top: -8px;
}