<fieldset>
<legend>Configuration</legend>
{{ `Model Name` }}
{{ `Y Var` }}
{{ `X Vars` }}
{{ `use.weights` }}
{{ `select.weights` }}
{{ `cp` }}
{{ `select.type` }}
{{ `classification` }}
{{ `use.gini` }}
{{ `use.information` }}
{{ `regression` }}
{{ `min.split` }}
{{ `min.bucket` }}
{{ `usesurrogate.0` }}
{{ `usesurrogate.1` }}
{{ `usesurrogate.2` }}
{{ `total.correct` }}
{{ `percent.correct` }}
{{ `xval.folds` }}
{{ `max.depth` }}
{{ `max.bins` }}
{{ `tree.plot` }}
{{ `Counts` }}
{{ `Proportions` }}
{{ `Branch Dist` }}
{{ `tree.inches` }}
{{ `tree.in.w` }}
{{ `tree.in.h` }}
{{ `tree.centimeters` }}
{{ `tree.cm.w` }}
{{ `tree.cm.h` }}
{{ `tree.graph.resolution` }}
{{ `tree.pointsize` }}
{{ `prune.plot` }}
{{ `prune.inches` }}
{{ `prune.in.w` }}
{{ `prune.in.h` }}
{{ `prune.centimeters` }}
{{ `prune.cm.w` }}
{{ `prune.cm.h` }}
{{ `prune.graph.resolution` }}
{{ `prune.pointsize` }}
</fieldset>
